<?xml version="1.0"?>
<!--***************************************************    
 * Title: UUV Simulator   
 * Author: The UUV Simulator Authors  
 * Date: 2016      
 * Availability: https://uuvsimulator.github.io/
***************************************************
-->

<model>
  <name>Ocean</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Sebastian Scherer</name>
    <email>sebastian.scherer2@de.bosch.com</email>
  </author>

  <description>
    Ocean box with rendering of a ocean sea state.
  </description>

</model>
